$az-blue: #023373;
$az-orange: #D95F18;
$az-red: #bf0a30;
$az-yellow: #F2B705;

$primary: $az-blue;
$danger: $az-red;
$warning: $az-yellow;
$info: lighten($az-blue, 25%);

$body-background-color: black;

$text: black; // box text
$scheme-main: whitesmoke; // box
$scheme-main-bis: black; // footer
$footer-color: white;

@import "~bulma";

/**
  * Bulma extensions
 */
.is-horizontal-center {
  justify-content: center;
}

#main-hero {
  background-image: url("/imgs/antenna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 53%;
  background-blend-mode: hard-light;
  background-color: rgba(25, 25, 180, 1);
  color: white;
  text-shadow: 3px 3px 5px black;
}

/**
  * custom
 */

.square-button {
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem;
  box-shadow: 0 2px 2px darkgray;

  &--yellow {
    color: black;
    border-style: hidden;
    background-color: $az-yellow;
  }

}

/**
  indent
 */
p {
  text-indent: 1.5rem;
}
